$white-color: #FFFFFF;
$primary-color: #63ADF2;
$secondary-color: #53DD6C;
$yellow-color: #FFE74C;
$gray-color: #A0A0A0;
$trans-color: #D2D1D2;
$dark-color: #1B1B1E;
$darken-color: #0B0B0E;
$background-cover-color: rgba(0,0,0,0.6);